#header {
  background-color: rgb(228, 228, 228);
  width: 100%;
  min-height: 60px;
}
#logo {
  margin-left: 400px;
  float: left;
  padding-right: 350px;
}
#seach-bar {
  width: 500px;
  height: 40px;
  float: left;
  margin-top: 10px;
}
#menu {
  width: 120px;
  height: 40px;
  float: left;
  margin-top: 22px;
}
#main {
  width: 600px;
  margin: 0px auto;

  min-height: 900px;
}

#footer {
  background-color: rgb(228, 228, 228);
  width: 100%;
  min-height: 50px;
}

#personal {
  background-color: rgba(175, 175, 175, 0.877);
  position: absolute;
  width: 70px;
  min-height: 120px;
  margin-left: 1411px;
  margin-top: -10px;
  border-radius: 84px;
}
#personal-table {
  margin-left: 10px;
  margin-top: 20px;
}
#personal-table td {
  transition-duration: 0.3s;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}
#personal-table td a {
  text-decoration: none;
  color: white;
}
#personal-table td a:hover {
  color: black;
}
#personal-table td:hover {
  background-color: white;
  color: black;
}

#monitor {
  width: 600px;
  min-height: 500px;
  background-color: rgb(228, 228, 228);
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 40px;
}
.otieude {
  width: 100px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}
