#header {
  background-color: rgb(228, 228, 228);
  width: 100%;
  min-height: 60px;
}
#logo {
  margin-left: 400px;
  float: left;
  padding-right: 350px;
}
#seach-bar {
  width: 500px;
  height: 40px;
  float: left;
  margin-top: 10px;
}
#menu {
  width: 120px;
  height: 40px;
  float: left;
  margin-top: 22px;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 772px;
  height: 500px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

#personal {
  background-color: rgba(175, 175, 175, 0.877);
  position: absolute;
  width: 70px;
  min-height: 120px;
  margin-left: 1411px;
  margin-top: -10px;
  border-radius: 84px;
}

#personal-table {
  margin-left: 10px;
  margin-top: 20px;
}
#personal-table td {
  transition-duration: 0.3s;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}
#personal-table td a {
  text-decoration: none;
  color: white;
}
#personal-table td a:hover {
  color: black;
}
#personal-table td:hover {
  background-color: white;
  color: black;
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #888888, #cfcfcf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}
