#header {
  background-color: rgb(39, 39, 39);
  width: 100%;
  min-height: 700px;
}
#main {
  width: 100%;
  min-height: 600px;
}
#footer {
  background-color: rgb(39, 39, 39);
  width: 100%;
  min-height: 200px;
}
#login-form {
  position: absolute;
  background-color: rgb(204, 204, 204);
  width: 705px;
  min-height: 420px;
  margin-top: -566px;
  margin-left: 581px;
  border-radius: 70px;
}
.otieude {
  width: 200px;
}
.oinput {
  width: 400px;
}

.form-dang-ki {
  margin-left: 39px;
  margin-top: 25px;
}

#forgot-password {
  width: 395px;
  min-height: 269px;
  position: absolute;
  background-color: rgb(204, 204, 204);
  margin-top: -461px;
  margin-left: 775px;
  border-radius: 40px;
}

#set_new_password {
  width: 395px;
  min-height: 269px;
  position: absolute;
  background-color: rgb(204, 204, 204);
  margin-top: -461px;
  margin-left: 775px;
  border-radius: 40px;
}
