#main {
  margin: 0px auto;
  padding: 0px;

  min-height: 1000px;
  width: 1200px;
  margin-top: 50px;
}
#main_left {
  float: left;
  width: 204px;
  min-height: 100px;
}

#main_left img {
  border-radius: 15px;
  box-shadow: 7px 7px 7px gray;
}

#menu {
  min-height: 90.23px;
  width: 986px;
  background-color: rgb(110, 110, 184);
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #3d3d3d;
  border-radius: 20px;
  box-shadow: 7px 7px 7px gray;
  float: left;
}
#menu ul li {
  float: left;
  padding-right: 20px;
  list-style-type: none;
}

#menu ul li a {
  text-decoration: none;
  display: inline-block;
  border-right: 1px solid gray;
  line-height: 53px;
  padding-right: 42px;
  padding-left: 26px;
  color: white;
  font-size: 26px;
  transition-duration: 0.3s;
}
.bang {
  border: 1px solid black;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5%;
  box-shadow: 5px 5px 5px gray;
}
#menu ul li a:hover {
  transform: scale(1.2);
  color: rgb(216, 137, 137);
}

.confirm2 {
  width: 92px;
  height: 39px;
  background-color: rgb(161, 194, 115);
  color: white;
  border-radius: 15%;
  cursor: pointer;
}
.form_1 {
  padding-left: 300px;
  padding-top: 200px;
}
.oso1 {
  height: 50px;
  width: 150px;
  font-size: 18px;
}
.oso2 {
  height: 50px;
  width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.otieude {
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
}
.oluachon1 {
  height: 40px;
  width: 120px;
  font-size: 18px;
}
.oluachon2 {
  height: 40px;
  width: 170px;
  font-size: 18px;
}
.oluachon3 {
  height: 40px;
  width: 120px;
  font-size: 18px;
}
.gioitinh {
  font-size: 22px;
}
.tb {
  color: red;
}

.thongtin_bang {
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 10px 10px 10px gray;
}

#inform {
  margin-left: 96px;
  width: 1000px;
  min-height: 500px;
  text-align: center;
  float: left;
  margin-top: 77px;
}

#inform th {
  width: 400px;
  height: 50px;
  border: 1px solid black;
}

#inform td {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

#informa {
  width: 1000px;
  min-height: 500px;
  text-align: center;
  margin-top: 77px;
  clear: left;
}

#informa th {
  width: 400px;
  height: 50px;
  border: 1px solid black;
}
#informa td {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

#user_info td {
  width: 400px;
  height: 50px;
}

#user_info {
  margin: 0px auto;
  width: 1000px;
  min-height: 800px;

  clear: left;
  margin-top: 20px;
}

#footer {
  width: 100%;
  min-height: 370x;
  background-color: grey;
  margin-top: 50px;
}
#top_footer {
  width: 100%;
  min-height: 127px;
  background-image: linear-gradient(#252525, #353535 35%);
}
#bottom_fotter {
  min-height: 70px;
  width: 100%;
  background-color: #1d1d1d;
}
